<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

	<filter>
		<filter-name>sendErrorFilter</filter-name>
		<filter-class>org.seasar.cubby.filter.SendErrorFilter</filter-class>
        <init-param>
            <param-name>statusCode</param-name>
            <param-value>404</param-value>
        </init-param>
        <!-- 
        <init-param>
            <param-name>ignorePathPattern</param-name>
            <param-value>.*/index.jsp</param-value>
        </init-param>
        -->
	</filter>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.seasar.cubby.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>s2Filter</filter-name>
        <filter-class>org.seasar.framework.container.filter.S2ContainerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>hotdeployFilter</filter-name>
        <filter-class>org.seasar.framework.container.hotdeploy.HotdeployFilter</filter-class>
    </filter>

    <!--
    <filter>
        <filter-name>requestDumpFilter</filter-name>
        <filter-class>org.seasar.extension.filter.RequestDumpFilter</filter-class>
    </filter>
    -->

    <filter>
        <filter-name>requestRoutingFilter</filter-name>
        <filter-class>org.seasar.cubby.filter.RequestRoutingFilter</filter-class>
        <init-param>
            <param-name>ignorePathPattern</param-name>
            <param-value>/css/.*,/js/.*,/img/.*</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>cubbyFilter</filter-name>
        <filter-class>org.seasar.cubby.filter.CubbyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sendErrorFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>s2Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>hotdeployFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <!--
    <filter-mapping>
        <filter-name>requestDumpFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    -->

    <filter-mapping>
        <filter-name>requestRoutingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>cubbyFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>s2servlet</servlet-name>
        <servlet-class>org.seasar.framework.container.servlet.S2ContainerServlet</servlet-class>
        <init-param>
            <param-name>configPath</param-name>
            <param-value>app.dicon</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cubbyAdminServlet</servlet-name>
        <servlet-class>org.seasar.cubby.admin.servlet.CubbyAdminServlet</servlet-class>
    </servlet>

<!-- trim white spaces(Tomcat 5.5 or higher)
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>
            org.apache.jasper.servlet.JspServlet
        </servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
-->
    <servlet-mapping>
        <servlet-name>s2servlet</servlet-name>
        <url-pattern>/s2servlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cubbyAdminServlet</servlet-name>
        <url-pattern>/cubby-admin</url-pattern>
    </servlet-mapping>

<!-- trim white spaces(Tomcat 5.5 or higher)
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
-->
    <!--
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    -->

    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/common/header.jsp</include-prelude>
            <!-- trim white spaces (JSP 2.1 or higher)
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            -->
        </jsp-property-group>
    </jsp-config>

</web-app>
