<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/JavaScript" />
  <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" media="screen,projection" charset="utf-8" />
</head>

<body>
  <h1>Image File List</h1>
  <h2>Controllers</h2>
  <ul>
    <li><a th:href="@{/step1}">step1</a></li>
    <li><a th:href="@{/step2}">step2</a></li>
    <li><a th:href="@{/step3}">step3</a></li>
    <li><a th:href="@{/step4}">step4</a></li>
  </ul>
</body>

</html>