<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/JavaScript" />
  <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" media="screen,projection" charset="utf-8" />
</head>
<body>
<h1>Image File List</h1>
<h2>Food Photos(<span th:text="${foodFiles.sizeOfFiles / 1024}"></span>KB)</h2>
<ul>
<li th:each="file : ${foodFiles.files}" th:text="${file.name}"></li>
</ul>
<h2>Animal Photos(<span th:text="${animalFiles.sizeOfFiles / 1024}"></span>KB)</h2>
<ul>
<li th:each="file : ${animalFiles.files}" th:text="${file.name}"></li>
</ul>
<h2>Landscape Photos(<span th:text="${landscapeFiles.sizeOfFiles / 1024}"></span>KB)</h2>
<ul>
<li th:each="file : ${landscapeFiles.files}" th:text="${file.name}"></li>
</ul>
</body>
</html>
