<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/JavaScript" />
  <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" media="screen,projection" charset="utf-8" />
</head>

<body>
  <h1>Image File List</h1>
  <div th:each="files : ${filesList}">
    <h2><span th:text="#{'label.' + ${files.path}}"></span>(<span th:text="${files.sizeOfFiles / 1024}"></span>KB)</h2>
    <ul>
      <li th:each="file : ${files.files}" th:text="${file.name}"></li>
    </ul>
  </div>
</body>

</html>